[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
connexion = {extras = ["swagger-ui"],version = "<2.1.0"}
flask-script = "*"
requests = "*"
gunicorn = "*"
thoth-common = {extras = ["openshift"],version = "*"}
thoth-storages = "*"
prometheus-client = "*"
prometheus-flask-exporter = "*"

[dev-packages]
pytest = "*"
