[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
connexion = {extras = ["swagger-ui"],version = "*"}
flask = "*"
flask-script = "*"
grpcio = "*"
grpcio-opentracing = "*"
grpcio-tools = "*"
gunicorn = "*"
jaeger-client = "*"
openapi-spec-validator = "<=0.2.4"
opentracing-instrumentation = "*"
prometheus-client = "*"
prometheus-flask-exporter = "*"
requests = "*"
thoth-common = "*"
thoth-storages = "*"

[dev-packages]
pytest = "*"
