[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
connexion = {extras = ["swagger-ui"],version = "*"}
flask = "==1.1.4"
grpcio = "<1.54"
grpcio-opentracing = "*"
grpcio-tools = "<1.28"
gunicorn = "*"
jsonschema = "*"
openapi-spec-validator = "*"
opentracing-instrumentation = "*"
prometheus-client = "*"
prometheus-flask-exporter = "*"
requests = "*"
thoth-common = "*"
thoth-storages = "*"
aiocontextvars = "*"
sentry-sdk = {extras = ["flask"],version = "*"}
werkzeug = "==1.0.1"
markupsafe = "<2.1.0"

[requires]
python_version = "3.8"

[dev-packages]
pytest = "*"
